<style type="text/css">
    .icons {
        clear: both;
        margin-bottom: 30px;
    }

    .icons i {
        font-size: 26px;
        width: 36px;
        margin: 4px 2px;
        text-align: center;
        display: block;
        float: left;
    }
</style>

<div class="icons">
    <i class="icon-phone" title="phone"></i>
    <i class="icon-mobile" title="mobile"></i>
    <i class="icon-mouse" title="mouse"></i>
    <i class="icon-address" title="address"></i>
    <i class="icon-mail" title="mail"></i>
    <i class="icon-paper-plane" title="paper-plane"></i>
    <i class="icon-pencil" title="pencil"></i>
    <i class="icon-feather" title="feather"></i>
    <i class="icon-attach" title="attach"></i>
    <i class="icon-inbox" title="inbox"></i>
    <i class="icon-reply" title="reply"></i>
    <i class="icon-reply-all" title="reply-all"></i>
    <i class="icon-forward" title="forward"></i>
    <i class="icon-user" title="user"></i>
    <i class="icon-users" title="users"></i>
    <i class="icon-add-user" title="add-user"></i>
    <i class="icon-vcard" title="vcard"></i>
    <i class="icon-export" title="export"></i>
    <i class="icon-location" title="location"></i>
    <i class="icon-map" title="map"></i>
    <i class="icon-compass" title="compass"></i>
    <i class="icon-direction" title="direction"></i>
    <i class="icon-hair-cross" title="hair-cross"></i>
    <i class="icon-share" title="share"></i>
    <i class="icon-shareable" title="shareable"></i>
    <i class="icon-heart" title="heart"></i>
    <i class="icon-heart-empty" title="heart-empty"></i>
    <i class="icon-star" title="star"></i>
    <i class="icon-star-empty" title="star-empty"></i>
    <i class="icon-thumbs-up" title="thumbs-up"></i>
    <i class="icon-thumbs-down" title="thumbs-down"></i>
    <i class="icon-chat" title="chat"></i>
    <i class="icon-comment" title="comment"></i>
    <i class="icon-quote" title="quote"></i>
    <i class="icon-home" title="home"></i>
    <i class="icon-popup" title="popup"></i>
    <i class="icon-search" title="search"></i>
    <i class="icon-flashlight" title="flashlight"></i>
    <i class="icon-print" title="print"></i>
    <i class="icon-bell" title="bell"></i>
    <i class="icon-link" title="link"></i>
    <i class="icon-flag" title="flag"></i>
    <i class="icon-cog" title="cog"></i>
    <i class="icon-tools" title="tools"></i>
    <i class="icon-trophy" title="trophy"></i>
    <i class="icon-tag" title="tag"></i>
    <i class="icon-camera" title="camera"></i>
    <i class="icon-megaphone" title="megaphone"></i>
    <i class="icon-moon" title="moon"></i>
    <i class="icon-palette" title="palette"></i>
    <i class="icon-leaf" title="leaf"></i>
    <i class="icon-note" title="note"></i>
    <i class="icon-beamed-note" title="beamed-note"></i>
    <i class="icon-new" title="new"></i>
    <i class="icon-graduation-cap" title="graduation-cap"></i>
    <i class="icon-book" title="book"></i>
    <i class="icon-newspaper" title="newspaper"></i>
    <i class="icon-bag" title="bag"></i>
    <i class="icon-airplane" title="airplane"></i>
    <i class="icon-lifebuoy" title="lifebuoy"></i>
    <i class="icon-eye" title="eye"></i>
    <i class="icon-clock" title="clock"></i>
    <i class="icon-mic" title="mic"></i>
    <i class="icon-calendar" title="calendar"></i>
    <i class="icon-flash" title="flash"></i>
    <i class="icon-thunder-cloud" title="thunder-cloud"></i>
    <i class="icon-droplet" title="droplet"></i>
    <i class="icon-cd" title="cd"></i>
    <i class="icon-briefcase" title="briefcase"></i>
    <i class="icon-air" title="air"></i>
    <i class="icon-hourglass" title="hourglass"></i>
    <i class="icon-gauge" title="gauge"></i>
    <i class="icon-language" title="language"></i>
    <i class="icon-network" title="network"></i>
    <i class="icon-key" title="key"></i>
    <i class="icon-battery" title="battery"></i>
    <i class="icon-bucket" title="bucket"></i>
    <i class="icon-magnet" title="magnet"></i>
    <i class="icon-drive" title="drive"></i>
    <i class="icon-cup" title="cup"></i>
    <i class="icon-rocket" title="rocket"></i>
    <i class="icon-brush" title="brush"></i>
    <i class="icon-suitcase" title="suitcase"></i>
    <i class="icon-traffic-cone" title="traffic-cone"></i>
    <i class="icon-globe" title="globe"></i>
    <i class="icon-keyboard" title="keyboard"></i>
    <i class="icon-browser" title="browser"></i>
    <i class="icon-publish" title="publish"></i>
    <i class="icon-progress-3" title="progress-3"></i>
    <i class="icon-progress-2" title="progress-2"></i>
    <i class="icon-progress-1" title="progress-1"></i>
    <i class="icon-progress-0" title="progress-0"></i>
    <i class="icon-light-down" title="light-down"></i>
    <i class="icon-light-up" title="light-up"></i>
    <i class="icon-adjust" title="adjust"></i>
    <i class="icon-code" title="code"></i>
    <i class="icon-monitor" title="monitor"></i>
    <i class="icon-infinity" title="infinity"></i>
    <i class="icon-light-bulb" title="light-bulb"></i>
    <i class="icon-credit-card" title="credit-card"></i>
    <i class="icon-database" title="database"></i>
    <i class="icon-voicemail" title="voicemail"></i>
    <i class="icon-clipboard" title="clipboard"></i>
    <i class="icon-cart" title="cart"></i>
    <i class="icon-box" title="box"></i>
    <i class="icon-ticket" title="ticket"></i>
    <i class="icon-rss" title="rss"></i>
    <i class="icon-signal" title="signal"></i>
    <i class="icon-thermometer" title="thermometer"></i>
    <i class="icon-water" title="water"></i>
    <i class="icon-sweden" title="sweden"></i>
    <i class="icon-line-graph" title="line-graph"></i>
    <i class="icon-pie-chart" title="pie-chart"></i>
    <i class="icon-bar-graph" title="bar-graph"></i>
    <i class="icon-area-graph" title="area-graph"></i>
    <i class="icon-lock" title="lock"></i>
    <i class="icon-lock-open" title="lock-open"></i>
    <i class="icon-logout" title="logout"></i>
    <i class="icon-login" title="login"></i>
    <i class="icon-check" title="check"></i>
    <i class="icon-cross" title="cross"></i>
    <i class="icon-squared-minus" title="squared-minus"></i>
    <i class="icon-squared-plus" title="squared-plus"></i>
    <i class="icon-squared-cross" title="squared-cross"></i>
    <i class="icon-circled-minus" title="circled-minus"></i>
    <i class="icon-circled-plus" title="circled-plus"></i>
    <i class="icon-circled-cross" title="circled-cross"></i>
    <i class="icon-minus" title="minus"></i>
    <i class="icon-plus" title="plus"></i>
    <i class="icon-erase" title="erase"></i>
    <i class="icon-block" title="block"></i>
    <i class="icon-info" title="info"></i>
    <i class="icon-circled-info" title="circled-info"></i>
    <i class="icon-help" title="help"></i>
    <i class="icon-circled-help" title="circled-help"></i>
    <i class="icon-warning" title="warning"></i>
    <i class="icon-cycle" title="cycle"></i>
    <i class="icon-cw" title="cw"></i>
    <i class="icon-ccw" title="ccw"></i>
    <i class="icon-shuffle" title="shuffle"></i>
    <i class="icon-back" title="back"></i>
    <i class="icon-level-down" title="level-down"></i>
    <i class="icon-retweet" title="retweet"></i>
    <i class="icon-loop" title="loop"></i>
    <i class="icon-back-in-time" title="back-in-time"></i>
    <i class="icon-level-up" title="level-up"></i>
    <i class="icon-switch" title="switch"></i>
    <i class="icon-numbered-list" title="numbered-list"></i>
    <i class="icon-add-to-list" title="add-to-list"></i>
    <i class="icon-layout" title="layout"></i>
    <i class="icon-list" title="list"></i>
    <i class="icon-text-doc" title="text-doc"></i>
    <i class="icon-text-doc-inverted" title="text-doc-inverted"></i>
    <i class="icon-doc" title="doc"></i>
    <i class="icon-docs" title="docs"></i>
    <i class="icon-landscape-doc" title="landscape-doc"></i>
    <i class="icon-picture" title="picture"></i>
    <i class="icon-video" title="video"></i>
    <i class="icon-music" title="music"></i>
    <i class="icon-folder" title="folder"></i>
    <i class="icon-archive" title="archive"></i>
    <i class="icon-trash" title="trash"></i>
    <i class="icon-upload" title="upload"></i>
    <i class="icon-download" title="download"></i>
    <i class="icon-save" title="save"></i>
    <i class="icon-install" title="install"></i>
    <i class="icon-cloud" title="cloud"></i>
    <i class="icon-upload-cloud" title="upload-cloud"></i>
    <i class="icon-bookmark" title="bookmark"></i>
    <i class="icon-bookmarks" title="bookmarks"></i>
    <i class="icon-open-book" title="open-book"></i>
    <i class="icon-play" title="play"></i>
    <i class="icon-paus" title="paus"></i>
    <i class="icon-record" title="record"></i>
    <i class="icon-stop" title="stop"></i>
    <i class="icon-ff" title="ff"></i>
    <i class="icon-fb" title="fb"></i>
    <i class="icon-to-start" title="to-start"></i>
    <i class="icon-to-end" title="to-end"></i>
    <i class="icon-resize-full" title="resize-full"></i>
    <i class="icon-resize-small" title="resize-small"></i>
    <i class="icon-volume" title="volume"></i>
    <i class="icon-sound" title="sound"></i>
    <i class="icon-mute" title="mute"></i>
    <i class="icon-flow-cascade" title="flow-cascade"></i>
    <i class="icon-flow-branch" title="flow-branch"></i>
    <i class="icon-flow-tree" title="flow-tree"></i>
    <i class="icon-flow-line" title="flow-line"></i>
    <i class="icon-flow-parallel" title="flow-parallel"></i>
    <i class="icon-left-bold" title="left-bold"></i>
    <i class="icon-down-bold" title="down-bold"></i>
    <i class="icon-up-bold" title="up-bold"></i>
    <i class="icon-right-bold" title="right-bold"></i>
    <i class="icon-left" title="left"></i>
    <i class="icon-down" title="down"></i>
    <i class="icon-up" title="up"></i>
    <i class="icon-right" title="right"></i>
    <i class="icon-circled-left" title="circled-left"></i>
    <i class="icon-circled-down" title="circled-down"></i>
    <i class="icon-circled-up" title="circled-up"></i>
    <i class="icon-circled-right" title="circled-right"></i>
    <i class="icon-triangle-left" title="triangle-left"></i>
    <i class="icon-triangle-down" title="triangle-down"></i>
    <i class="icon-triangle-up" title="triangle-up"></i>
    <i class="icon-triangle-right" title="triangle-right"></i>
    <i class="icon-chevron-left" title="chevron-left"></i>
    <i class="icon-chevron-down" title="chevron-down"></i>
    <i class="icon-chevron-up" title="chevron-up"></i>
    <i class="icon-chevron-right" title="chevron-right"></i>
    <i class="icon-chevron-small-left" title="chevron-small-left"></i>
    <i class="icon-chevron-small-down" title="chevron-small-down"></i>
    <i class="icon-chevron-small-up" title="chevron-small-up"></i>
    <i class="icon-chevron-small-right" title="chevron-small-right"></i>
    <i class="icon-chevron-thin-left" title="chevron-thin-left"></i>
    <i class="icon-chevron-thin-down" title="chevron-thin-down"></i>
    <i class="icon-chevron-thin-up" title="chevron-thin-up"></i>
    <i class="icon-chevron-thin-right" title="chevron-thin-right"></i>
    <i class="icon-left-thin" title="left-thin"></i>
    <i class="icon-down-thin" title="down-thin"></i>
    <i class="icon-up-thin" title="up-thin"></i>
    <i class="icon-right-thin" title="right-thin"></i>
    <i class="icon-arrow-combo" title="arrow-combo"></i>
    <i class="icon-three-dots" title="three-dots"></i>
    <i class="icon-two-dots" title="two-dots"></i>
    <i class="icon-dot" title="dot"></i>
    <i class="icon-cc" title="cc"></i>
    <i class="icon-cc-by" title="cc-by"></i>
    <i class="icon-cc-nc" title="cc-nc"></i>
    <i class="icon-cc-nc-eu" title="cc-nc-eu"></i>
    <i class="icon-cc-nc-jp" title="cc-nc-jp"></i>
    <i class="icon-cc-sa" title="cc-sa"></i>
    <i class="icon-cc-nd" title="cc-nd"></i>
    <i class="icon-cc-pd" title="cc-pd"></i>
    <i class="icon-cc-zero" title="cc-zero"></i>
    <i class="icon-cc-share" title="cc-share"></i>
    <i class="icon-cc-remix" title="cc-remix"></i>
    <i class="icon-db-logo" title="db-logo"></i>
    <i class="icon-db-shape" title="db-shape"></i>
</div>

<div class="text-icons">
    <a href="#"><i class="icon-search"></i> Search</a>
    <a href="#"><i class="icon-cc"></i> Creative Commons</a>
</div>
