<span class="label">Regular Label</span>
<span class="radius secondary label">Radius Secondary Label</span>
<span class="round alert label">Round Alert Label</span>
<span class="success label">Success Label</span>
