<p>ul.disc</p>
<ul class="disc">
    <li>List item with a much longer description or more content.</li>
    <li>List item</li>
    <li>List item
        <ul>
            <li>Nested List Item</li>
            <li>Nested List Item</li>
            <li>Nested List Item</li>
        </ul>
    </li>
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
</ul>

<p>ul.circle</p>
<ul class="circle">
    <li>List item with a much longer description or more content.</li>
    <li>List item</li>
    <li>List item
        <ul>
            <li>Nested List Item</li>
            <li>Nested List Item</li>
            <li>Nested List Item</li>
        </ul>
    </li>
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
</ul>

<p>ul.square</p>
<ul class="square">
    <li>List item with a much longer description or more content.</li>
    <li>List item</li>
    <li>List item
        <ul>
            <li>Nested List Item</li>
            <li>Nested List Item</li>
            <li>Nested List Item</li>
        </ul>
    </li>
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
</ul>

<!-- Sometimes you don't want bullets at all -->
<p>ul.no-bullet</p>
<ul class="no-bullet">
    <li>List item with a much longer description or more content.</li>
    <li>List item</li>
    <li>List item
        <ul>
            <li>Nested List Item</li>
            <li>Nested List Item</li>
            <li>Nested List Item</li>
        </ul>
    </li>
    <li>List item</li>
</ul>
